@import "tailwindcss";

body {
  background-color: #111827; /* Tailwind gray-900 */
  color: white;
}

.landing-hero {
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.landing-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.landing-hero > main {
  position: relative;
  z-index: 2;
}
.ant-rate-star:hover,
.ant-rate-star:hover .ant-rate-star-first,
.ant-rate-star:hover .ant-rate-star-second {
  color: #facc15 !important;
}
